.page-content.container
  .columns
    .column.one-fourth
      =render partial: "user_info"
    .column.three-fourths
      .tabnav
        - if current_user && !personal_page?(@github_user)
          = render partial: "follow_button"
        = render partial: "shared/tabs"
      %ul.repo-list
        - if starred_tab?
          = render partial: "repos/repo", collection: @github_user.starred
        - else
          = render partial: "repos/repo", collection: @github_user.repos
