%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    #contain-navbar
      %a.navbar-brand{ href:"#" }
        = render partial: "shared/svgs/octocat_svg"
      %ul.nav.navbar-nav.navbar-right
        - unless current_user
          = link_to "Sign in with Github", github_login_path,
                    class: "button btn btn-success navbar-btn", type:"button"
        - else
          = render partial: "shared/loggedin_menu"
